@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-text {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.small-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.small-text-placeholder {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    text-align: center;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navinfo {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.placeholder {
    flex: 1;
    height: 228px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 120px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}