@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    margin-bottom: 32px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-text {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.small-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navinfo {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.placeholder {
    flex: 1;
    display: flex;
    height: 228px;
    align-items: center;
    justify-content: center;
}

.img-work {
    width: 100%;
    height: 100%;
}

img {
    height: 100px;
    width: 100px;
}

.button {
    width: 120px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

.title-text {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

.container-second-section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 52px;
}

.info {
    max-width: 200px;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    padding: 80px 150px 0 150px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding: 0 150px 80px 150px;
    font-size: 18px;
}

.four-section {
    padding: 50px 150px;
}

.blue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 30px;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    gap: 100px;
}

.another-button { 
    padding: 8px 30px;
    border-radius: 10px;
    border: 3px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 15px;
}

.main-text {
    font-size: 24px;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}